@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-color: #404040 !important;
    width: 100%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24D1FF;
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-family: 'VT323', monospace !important;
    font-size: 1.5em;
}

.footer a{
    text-decoration: none;
}

@media screen and (max-width: 768px){
    body{
        width: 100%;
    }

    .footer{
        width: 100% !important;
    }
}